body{
    
    margin-top: -600px;
    /* margin-left: 10px; */
    padding: 5% 5% 0 5%;
    
}
/* table {
    width: 100%;
} */

/* .scrollable {
    /* height: 200px; */
    /* overflow: scroll; */

/* 
.mat-field{
    padding: 5% 5% 0 5%;
} */

